
Flask==3.0.2
Flask-Cors==5.0.1
pymongo==4.6.1
Flask-PyMongo==3.0.1
requests==2.31.0
python-dotenv==1.0.1
boto3==1.34.0
Flask-WTF==1.2.1
WTForms==3.1.2
email-validator==2.1.0
Flask-Login==0.6.3
pytest==8.1.1
pytest-mock==3.12.0
